body {
  background-color: #353535;
  color: white;
}

h4 {
  margin-bottom: 0;
}

.container {
  max-width: 500px;
  text-align: center;
}

.one-half.column {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: auto;
}

.label-upload {
  background-image: url("../images/camera_icon.svg");
  background-repeat: no-repeat;
  background-size: 150px 150px;
  height: 150px;
  text-align: center;
  background-position: center;
}

.file-input,
.button-ok,
.button-no,
.button-door,
.button-next {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button-label-screen3 {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  background-position: center;
  padding: 0 5px;
}

.button-ok-label {
  background-image: url("../images/button_change.svg");
}
.button-no-label {
  background-image: url("../images/button_no.svg");
}

.button-door-label {
  background-image: url("../images/button_door.svg");
  margin: 0 auto;
}

.button-next-label {
  background-image: url("../images/button_go_recipe.svg");
  margin: 0 auto;
}

.button-recipe-label {
  background-image: url("../images/button_go_recipe.svg");
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list-control {
  flex-wrap: nowrap;
  display: flex;
}
